* :not(body) {
    font-family: "Montserrat r";
    transition: all 1.2s;
    border-radius: 10px;
    border: none;
    margin: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 16px;
    box-shadow: none;
    outline: none;
    color: rgb(15, 15, 15);
    overflow: hidden;
    text-overflow: ellipsis;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.4;
        scale: 0.9;
    }

    100% {
        opacity: 1;
        scale: 1;
    }
}

body {
    height: min-content;
    background-color: rgb(12, 6, 56);
    text-align: center;
    z-index: 0;
}

#search-container {
    display: inline-block;
    padding: 2rem;
    justify-self: center;
    width: "0px";
    height: "0px";
}

#search-box {
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    width: 200px;
}

#search-box:focus {
    width: 250px;
    background-color: rgb(253, 253, 253);
}

#whenSearch {
    position: absolute;
    display: none;
    color: rgba(218, 218, 210, 0.479);
}

#category-label {
    position: absolute;
    left: 0;
    color: white;
    background-color: rgb(39, 11, 66);
}

#categories {
    background-color: rgba(39, 11, 66, 0.829);
    width: 200px;
    color: rgb(255, 255, 255);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

#list-container {
    height: 500px;
    width: 600px;
    background-color: rgb(109, 56, 133);
    margin: auto;
}

li {
    color: aliceblue;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    transition: none;
}

li:hover {
    text-overflow: unset;
}

#details-container,
#cover-container {
    visibility: hidden;
    position: absolute;
    top: 6.50rem;
    height: 500px;
    width: 600px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    background-color: rgb(109, 56, 133);
}

#details-container button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#cover-container {
    transition: none;
}

p {
    cursor: pointer;
    color: honeydew;
}

hr {
    border-radius: 0;
    border-top-style: inset;
    border-top-width: 1px;
    height: 0.003rem;
    width: 10rem;
}

#cover-container img {
    position: relative;
    margin: auto;
    right: 0;
    left: 0;
    min-width: 300px;
    max-height: 80%;
    left: auto;
    right: auto;
    top: 0.5rem;
}

#cover-container button {
    margin: 0.5rem;
}

#prev,
#next {
    margin-left: 2rem;
    margin-right: 2rem;
}


/* https://stackoverflow.com/questions/43264679/how-to-change-css-when-the-screen-size-changes answered by Tamas B */
@media only screen and (max-width: 1100px) {
    * {
        float: none;
    }

    * {
        position: relative;
    }

    body {
        transition: none;
        background-color: rgba(33, 63, 63, 0.767);
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }
    #search-container{
        top: 40px;
        z-index: 1;
    }
    #list-container,
    #details-container,
    #cover-container {
        position: relative;
        height: 500px;
        width: 300px;
        background-color: rgba(131, 168, 156, 0.623);
        margin: auto;
        justify-self: center;
        top: 25px;
        z-index: 1;
    }

    #list-frame {
        height: 500px;
        width: 300px;
    }
}